<!DOCTYPE html>
<html lang="en">

<body>
<!-- ------- footer ------- -->
<div th:fragment="footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Red Store</h3>
                    <p>Tải App cho điện thoại di động Android và ios.</p>
                    <div class="app-logo">
                        <img th:src="@{/images/play-store.png}">
                        <img th:src="@{/images/app-store.png}">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img th:src="@{/images/logo-white.png}">
                    <p>Mục đích của chúng tôi là mang lại niềm vui và lợi ích của thể thao một cách bền vững cho nhiều người.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Liên kết hữu ích</h3>
                    <ul>
                        <li>Phiếu giảm giá</li>
                        <li>Chia sẻ kiến thức</li>
                        <li>Bảo mật thông tin</li>
                        <li>Hướng dẫn thanh toán</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Theo dõi chúng tôi</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2024 Red Store - Nhóm 2</p>
        </div>
    </div>
</div>
<!-- -------End footer ------- -->
</body>
</html>