<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Store | Trang chủ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon shortcut" href="images/favicon.png">
</head>
<body>
<th:block th:replace="~{web/header-home::header_home}">

</th:block>
<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="images/category-1.jpg">
            </div>
            <div class="col-3">
                <img src="images/category-2.jpg">
            </div>
            <div class="col-3">
                <img src="images/category-3.jpg">
            </div>

        </div>
    </div>
</div>

<!-- ------- featured products ------- -->
<div class="small-container">
    <h2 class="title">Sản phẩm nổi bật</h2>
    <div class="row">

        <th:block th:each="p : ${listtop8product}">

            <div class="col-4">
                <a th:href="@{'/product-detail/'+${p.id}+'/'+${p.category.id}}">
                    <img th:src="@{'/api/uploadfile/upload/' + ${p.thumbnailPhoto}}"></a>
                <h4>[[${p.name}]]</h4>
                
                <p>[[${p.price}]] $</p>
            </div>

        </th:block>

    </div>
    <h2 class="title">Sản phẩm mới nhất</h2>
    <div class="row">
        <th:block th:each="p : ${listlast4product}">
            <div class="col-4">
                <a th:href="@{'/product-detail/'+${p.id}+'/'+${p.category.id}}">
                    <img th:src="@{'/api/uploadfile/upload/' + ${p.thumbnailPhoto}}"></a>
                <h4>[[${p.Name}]]</h4>
                
                <p>[[${p.price}]] $</p>
            </div>
        </th:block>
    </div>
</div>

<!-- ------- offer ------- -->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="images/exclusive.png" class="offer-img">
            </div>
            <div class="col-2">
                <p>Chỉ có trên Red Store</p>
                <h1>Mi Band 4</h1>
                <small>Trợ lý ảo Xiao Ai  – điều khiển các thiết bị thông minh bằng giọng nói, có tính năng đo nhịp tim, đếm bước chân cùng khả năng chống nước dưới độ sâu 50m</small>
                <br>
                <a href="/product-detail" class="btn">XEM NGAY &#8594;</a>
            </div>
        </div>
    </div>
</div>

<!-- ------- testimonial ------- -->

<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Red Store nổi tiếng với các sản phẩm chất lượng cao, đáp ứng đầy đủ các tiêu chuẩn và yêu cầu khắt khe của người tiêu dùng</p>

                
                <img src="images/user-1.png">
                <h3>Mr </h3>
            </div>

            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Mỗi sản phẩm đều được kiểm tra kỹ lưỡng trước khi đưa ra thị trường, đảm bảo tính an toàn và hiệu quả khi sử dụng.</p>

               
                <img src="images/user-2.png">
                <h3>Mike Smith</h3>
            </div>

            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Thường xuyên có các chương trình khuyến mãi hấp dẫn, giúp khách hàng tiết kiệm được chi phí.</p>

                
                <img src="images/user-3.png">
                <h3>Mabel John</h3>
            </div>


        </div>
    </div>
</div>



<th:block th:replace="~{web/footer::footer}">

</th:block>

<!-- -------- js for toggle menu -------- -->
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight ="0px";

    function menutoggle(){
        if(MenuItems.style.maxHeight == "0px"){
            MenuItems.style.maxHeight ="200px"
        }
        else{
            MenuItems.style.maxHeight ="0px"
        }
    }
</script>
</body>
</html>